
/*reset css*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

//tags i 
i {
    pointer-events: none;
}