
.my-modal {
    background-color: $bg-modals;

    #header{
        background-color: $bg-primary;
        color: #fff;

        button {
            color: #fff;
        }
    }

    input, textarea, select{
        border: 1px solid $bg-primary;
    }
}